DEPLOY_HOST=newsmail.spjinc.org
DEPLOY_DIR=/var/www/newsletter
GIT_REMOTE_NAME=github
SERVER_GIT_REMOTE_NAME=origin
GIT_REMOTE_URL=git@github.com:ghwfluffy/newsletter.git
GIT_BRANCH=master
NEWSMAIL_DOMAIN=newsmail.spjinc.org
ACME_EMAIL=admin@example.org
COMPOSE_PROJECT_NAME=newsletter
